
@(episodes: play.api.libs.json.JsValue)

@import play.api.libs.json._

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
            <h2><a href="/">Retour</a></h2>
            @for( ep <- (episodes \ "posts").as[List[JsValue]]) {
            <div style="border: 1px solid black;">
                @Html((ep \ "content").as[String].replaceAll("Read more",""))
                @controllers.Application.preloadLink("/detail/"+((ep \ "id").as[Int]))
            <a href='/detail/@((ep \ "id").as[Int])'>Détail</a>
            </div>
            <br/>
            }
    </body>
</html>
