@()


<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <title>NipPodcasts</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://static.niptech.com/site/css/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="http://static.niptech.com/site/css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="http://static.niptech.com/site/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="http://static.niptech.com/site/css/index.css" type="text/css" media="screen">
    <!-- <link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen"> -->
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="https://apis.google.com/js/platform.js"></script>

</head>

<body>
<div class="slide" id="cover" data-slide="1" data-stellar-background-ratio="0.5">
    <div class="menu">
        <div class="container clearfix">
            <div id="logo" class="grid_3">
                <img src="http://static.niptech.com/site/images/nip2.png" width="70" height="auto">
            </div>

            <div id="nav" class="grid_9 omega">
                <ul class="navigation">
                    <li data-slide="1">Accueil</li>
                    <li data-slide="2">NipTech</li>
                    <li data-slide="3">NipDev</li>
                    <li data-slide="4">NipLife</li>
                    <li data-slide="5">NipSales</li>
                    <li data-slide="6">Boutiques</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container clearfix">
        <div id="content" class="grid_6">
            <div id="top-left" class="top">
                <h1><a href="http://live.niptech.com" target="_blank"><img
                        src="http://static.niptech.com/site/images/live.png" style="padding:5px;" width="80"
                        align="left"/>Assister aux émissions en live</a></h1>
            </div>
        </div>
        <div id="content" class="grid_6">
            <div id="top-right" class="top">
                <h1><a href="https://plus.google.com/u/0/communities/104157063722839703523" target="_blank"><img
                        src="http://static.niptech.com/site/images/community.png" style="padding:5px;" width="80"
                        align="left"/>Rejoindre notre communauté</a></h1>
            </div>
        </div>
        <div id="content" class="grid_12">
            <div class="description">
                <h2>C'est quoi Nip ?</h2>

                <p>Est. Mattis aenean pulvinar dapibus. Et, amet mauris quis porttitor odio in phasellus eu, placerat
                    aliquam! Nunc et, massa rhoncus? In velit, ultricies rhoncus porta a, dictumst nunc! Eu in
                    adipiscing ut penatibus dictumst habitasse risus, vel sed augue nunc. Duis pellentesque, urna augue
                    vut placerat integer diam? Lorem facilisis, mauris.</p>
            </div>
        </div>
    </div>
</div>
<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
<div class="container clearfix">
    <div id="content" class="grid_12">
        <div class="podnav" style="max-width: 800px;margin: auto; min-width: 200px;text-align: center;">
            <h2>Les émissions Nip</h2>

            <div style="width:200px; float:left;text-align: center;"><img
                    src="http://static.niptech.com/site/images/logo/niptech.png" data-slide="2" width="150"/>

                <div>
                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
                            src="http://platform.twitter.com/widgets/follow_button.1387492107.html#_=1388756996549&amp;id=twitter-widget-0&amp;lang=fr&amp;screen_name=niptechpodcast&amp;show_count=false&amp;show_screen_name=true&amp;size=m"
                            class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button"
                            data-twttr-rendered="true" style="width: 152px; height: 20px;"></iframe>
                </div>
            </div>
            <div style="width:200px; float:left;text-align: center;"><img
                    src="http://static.niptech.com/site/images/logo/nipdev.png" data-slide="3" width="150"/>

                <div>
                    <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true"
                            src="http://platform.twitter.com/widgets/follow_button.1387492107.html#_=1388756996553&amp;id=twitter-widget-1&amp;lang=fr&amp;screen_name=nipdev&amp;show_count=false&amp;show_screen_name=true&amp;size=m"
                            class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button"
                            data-twttr-rendered="true" style="width: 105px; height: 20px;"></iframe>
                </div>
            </div>
            <div style="width:200px; float:left;text-align: center;"><img
                    src="http://static.niptech.com/site/images/logo/niplife.png" data-slide="4" width="150"/>

                <div>
                    <iframe id="twitter-widget-2" scrolling="no" frameborder="0" allowtransparency="true"
                            src="http://platform.twitter.com/widgets/follow_button.1387492107.html#_=1388756996554&amp;id=twitter-widget-2&amp;lang=fr&amp;screen_name=niplife&amp;show_count=false&amp;show_screen_name=true&amp;size=m"
                            class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button"
                            data-twttr-rendered="true" style="width: 102px; height: 20px;"></iframe>
                </div>
            </div>
            <div style="width:200px; float:left;text-align: center;"><img
                    src="http://static.niptech.com/site/images/logo/nipsales.png" data-slide="5" width="150"/>

                <div>
                    <iframe id="twitter-widget-3" scrolling="no" frameborder="0" allowtransparency="true"
                            src="http://platform.twitter.com/widgets/follow_button.1387492107.html#_=1388756996554&amp;id=twitter-widget-3&amp;lang=fr&amp;screen_name=nipsales&amp;show_count=false&amp;show_screen_name=true&amp;size=m"
                            class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button"
                            data-twttr-rendered="true" style="width: 113px; height: 20px;"></iframe>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------
-----------------------------------------------------------------
------------------------ DEBUT SLIDE NIPTECH --------------------
-----------------------------------------------------------------
----------------------------------------------------------------->
<div class="slide" id="niptech" data-slide="2" data-stellar-background-ratio="0.5">
    <div class="container clearfix">

        <div id="content" class="grid_6">
            <h2>En audio</h2>
            <iframe width="100%" height="300" scrolling="no" frameborder="no"
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/18527746&amp;color=0670ac&amp;auto_play=false&amp;show_artwork=false"></iframe>

            <div class="categorie">
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_rss.png" style="border-radius:4px;"/>
                </div>
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_it.png" style="border-radius:4px;"/>
                </div>
            </div>
        </div>

        <!---------------------------------
        --------- SOUNDCLOUD NIPTECH ------
        ---------------------------------->
        <div id="content" class="grid_6">
            <h2>En vidéo</h2>
            <iframe width="100%" height="300"
                    src="http://www.youtube.com/embed/videoseries?list=PLDv1NDnaE86p5uoYZ8s0HurbmVoIjmgtO"
                    frameborder="0" allowfullscreen></iframe>
            <div class="categorie">
                <div class="g-ytsubscribe" data-channel="niptechpodcast" data-layout="default" data-theme="dark"
                     data-count="hidden"></div>
            </div>

        </div>
        <div id="content" class="grid_12">
            <center><a href="/niptech">
                <div class="bouton_pod">Commentaires et liens</div>
            </a></center>
        </div>
    </div>
</div>

<div class="slide" id="animateurs" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_12">
            <h2>Les podcasteurs de NipTech</h2>

            <div class="portrait">
                <a href="https://twitter.com/bcurdy" target="_blank"><h3>Ben</h3>
                    <img src="http://static.niptech.com/site/images/people/ben.png"/></a>
            </div>
            <div class="portrait">
                <a href="https://twitter.com/syde" target="_blank"><h3>Mike</h3>
                    <img src="http://static.niptech.com/site/images/people/mike.png"/></a>
            </div>
            <div class="portrait">
                <a href="https://twitter.com/profduweb" target="_blank"><h3>Mathieu</h3>
                    <img src="http://static.niptech.com/site/images/people/mathieu.png"/></a>
            </div>
            <div class="portrait">
                <a href="https://twitter.com/johancohen" target="_blank"><h3>Johan</h3>
                    <img src="http://static.niptech.com/site/images/people/johan.png"/></a>
            </div>
            <div class="portrait">
                <a href="https://twitter.com/fxzo" target="_blank"><h3>Fabrice</h3>
                    <img src="http://static.niptech.com/site/images/people/fabrice.png"/></a>
            </div>
        </div>

    </div>
</div>

<!---------------------------------------------------------------
-----------------------------------------------------------------
------------------------ DEBUT SLIDE NIPDEV ---------------------
-----------------------------------------------------------------
----------------------------------------------------------------->
<div class="slide" id="nipdev" data-slide="3" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_6">
            <h2>En audio</h2>
            <iframe width="100%" height="300" scrolling="no" frameborder="no"
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/13179689&amp;color=f6a456&amp;auto_play=false&amp;show_artwork=false"></iframe>
            <div class="categorie">
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_rss.png" style="border-radius:4px;"/>
                </div>
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_it.png" style="border-radius:4px;"/>
                </div>
            </div>

        </div>
        <!---------------------------------
        --------- YOUTUBE NIPDEV -------
        ---------------------------------->
        <div id="content" class="grid_6">
            <h2>En vidéo</h2>
            <iframe width="100%" height="300"
                    src="http://www.youtube.com/embed/videoseries?list=PLDv1NDnaE86p5uoYZ8s0HurbmVoIjmgtO"
                    frameborder="0" allowfullscreen></iframe>
            <div class="categorie">
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_yt.png"/>
                </div>
            </div>
        </div>
        <div id="content" class="grid_12">
            <center><a href="/nipdev">
                <div class="bouton_pod">Commentaires et liens</div>
                </a></center>
        </div>
    </div>
</div>

<div class="slide" id="animateurs" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_12">
            <h2>Les podcasteurs de NipDev</h2>

            <div style="max-width:570px; margin:auto">
                <div class="portrait">
                    <a href="https://twitter.com/fxzo" target="_blank"><h3>Fabrice</h3>
                        <img src="http://static.niptech.com/site/images/people/fabrice.png"/></a>
                </div>
                <div class="portrait">
                    <a href="https://twitter.com/antoined" target="_blank"><h3>Antoine</h3>
                        <img src="http://static.niptech.com/site/images/people/antoine.png"/></a>
                </div>
                <div class="portrait">
                    <a href="https://twitter.com/esorals" target="_blank"><h3>Sébastien</h3>
                        <img src="http://static.niptech.com/site/images/people/sebastien.png"/></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------------------
-----------------------------------------------------------------
------------------------ DEBUT SLIDE NIPLIFE --------------------
-----------------------------------------------------------------
----------------------------------------------------------------->
<div class="slide" id="niplife" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_6">
            <h2>En audio</h2>
            <iframe width="100%" height="300" scrolling="yes" frameborder="no"
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/13179643&amp;color=99c339&amp;auto_play=false&amp;show_artwork=false"></iframe>

            <div class="categorie">
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_rss.png" style="border-radius:4px;"/>
                </div>
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_it.png" style="border-radius:4px;"/>
                </div>
            </div>
        </div>

        <!---------------------------------
        --------- YOUTUBE NIPLIFE ------
        ---------------------------------->
        <div id="content" class="grid_6">
            <h2>En vidéo</h2>
            <iframe width="100%" height="300"
                    src="http://www.youtube.com/embed/videoseries?list=PLDv1NDnaE86p5uoYZ8s0HurbmVoIjmgtO"
                    frameborder="0" allowfullscreen></iframe>
            <div class="categorie">
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_yt.png"/>
                </div>
            </div>
        </div>
        <div id="content" class="grid_12">
            <center><a href="/niplife">
                <div class="bouton_pod">Commentaires et liens</div>
                </a></center>
        </div>
    </div>
</div>

<div class="slide" id="animateurs" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_12">
            <h2>Les podcasteurs de NipLife</h2>

            <div style="max-width:380px; margin:auto">
                <div class="portrait">
                    <a href="https://twitter.com/profduweb" target="_blank"><h3>Mathieu</h3>
                        <img src="http://static.niptech.com/site/images/people/mathieu.png"/></a>
                </div>
                <div class="portrait">
                    <a href="https://twitter.com/guillaumevende" target="_blank"><h3>Guillaume</h3>
                        <img src="http://static.niptech.com/site/images/people/guillaume.png"/></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------------------
-----------------------------------------------------------------
------------------------ DEBUT SLIDE NIPSALES -------------------
-----------------------------------------------------------------
----------------------------------------------------------------->
<div class="slide" id="nipsales" data-slide="5" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_6">
            <h2>En audio</h2>
            <iframe width="100%" height="300" scrolling="no" frameborder="no"
                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/18595452&amp;color=333333&amp;auto_play=false&amp;show_artwork=false"></iframe>

            <div class="categorie">
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_rss.png" style="border-radius:4px;"/>
                </div>
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_it.png" style="border-radius:4px;"/>
                </div>
            </div>
        </div>

        <!---------------------------------
        --------- YOUTUBE NIPSALES -----
        ---------------------------------->
        <div id="content" class="grid_6">
            <h2>En vidéo</h2>
            <iframe width="100%" height="300"
                    src="http://www.youtube.com/embed/videoseries?list=PLDv1NDnaE86p5uoYZ8s0HurbmVoIjmgtO"
                    frameborder="0" allowfullscreen></iframe>
            <div class="categorie">
                <div class="cat-img">
                    <img src="http://static.niptech.com/site/images/bouton_yt.png"/>
                </div>
            </div>
        </div>
        <div id="content" class="grid_12">
            <center><a href="/nipsales">
                <div class="bouton_pod">Commentaires et liens</div>
                </a></center>
        </div>
    </div>
</div>

<div class="slide" id="animateurs" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_12">
            <h2>Les podcasteurs de NipSales</h2>

            <div style="max-width:380px; margin:auto">
                <div class="portrait">
                    <a href="https://twitter.com/syde" target="_blank"><h3>Mike</h3>
                        <img src="http://static.niptech.com/site/images/people/mike.png"/></a>
                </div>
                <div class="portrait">
                    <a href="https://twitter.com/marco_nip" target="_blank"><h3>Marco</h3>
                        <img src="http://static.niptech.com/site/images/people/marco.png"/></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slide" id="shop" data-slide="6" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_4">
            <div class="shop3"><a href="http://astore.amazon.fr/nip-21" target="_blank"><img
                    src="http://static.niptech.com/site/images/amazon.png"/></a></div>
        </div>
        <div id="content" class="grid_4">
            <div class="shop1"><a href="http://niptech.spreadshirt.net/" target="_blank"><img
                    src="http://static.niptech.com/site/images/spreadshirt.png"/></a></div>
        </div>
        <div id="content" class="grid_4">
            <div class="shop2"><a href="http://www.redbubble.com/people/skywiiz/shop" target="_blank"><img
                    src="http://static.niptech.com/site/images/redbubble.png"/></a></div>
        </div>
    </div>
</div>

<div class="slide" id="slide6" data-slide="7" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_3">
            <form method="GET" action="http://niptech.com/podcast/" id="search">
                <input name="s" type="text" size="40" placeholder="Rechercher..."/>
            </form>
        </div>
        <div id="content" class="grid_9">
            <p style="text-align:right;">© 2013 NipTech Podcast All Rights Reserved.</p>
        </div>
    </div>
</div>
<div class="scroll" id="scroll">
    <a href="#">Top</a>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://static.niptech.com/site/js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="http://static.niptech.com/site/js/waypoints.min.js"></script>
<script type="text/javascript" src="http://static.niptech.com/site/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="http://static.niptech.com/site/js/scripts.js"></script>

<!-- <script type="text/javascript" src="js/scripts.min.js"></script> -->

</body>
</html>
